DJANGO__DEBUG=True

DJANGO__SECRET_KEY="0yg834eig9q3v4heb67hoeq21g31ogqe4hoh2178O93PIOBVBVVI00U5O79pIBVP77P09BV2phfpwvk;v"

DJANGO__ALLOWED_HOSTS=site.homework.local.net

POSTGRES_HOST=localhost
POSTGRES_PORT=55432

POSTGRES_USER="django_user"
POSTGRES_PASSWORD="your-password"
POSTGRES_DB="django_db"

EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_HOST_USER="your-email"
EMAIL_HOST_PASSWORD="your-email-password"
EMAIL_USE_TLS=True

DEFALT_FROM_EMAIL="your-email"