{% extends "_helpers/_base.html" %}
{% load static %}
{% block title %}
    {% if post %}
        Edit Post
    {% else %}
        Create a New Post
    {% endif %}
{% endblock title %}
{% block content %}
    <div class="container mt-5">
        {% if post %}
            <h2>Edit Post</h2>
        {% else %}
            <h2>Create a New Post</h2>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'blog:categories' %}" class="btn btn-outline-info">Manage Categories</a>
            <button type="submit" class="btn btn-success">
                {% if post %}
                    Update
                {% else %}
                    Publish
                {% endif %}
            </button>
        </form>
    </div>
{% endblock content %}
